/SonhandoERealizando.API/obj/
/SonhandoERealizando.API/bin/
/SonhandoERealizando.Application/obj/
/SonhandoERealizando.Application/bin/
/SonhandoERealizando.Domain/obj/
/SonhandoERealizando.Domain/bin/
/SonhandoERealizando.Infrastructure/obj/
/SonhandoERealizando.Infrastructure/bin/
/.idea/
/SonhandoERealizando.sln.DotSettings.user